body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20%;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(255, 92, 92);
}

.green {
    background-color: rgb(73, 189, 154);
}

.yellow {
    background-color: rgb(254, 198, 93);
}

.purple {
    background-color: rgb(138, 73, 199);
}

.flash {
    background-color: rgb(157, 255, 0) ;
}

.user-flash {
    background-color: rgb(255, 255, 255);
}